@tailwind base;
@tailwind components;
@tailwind utilities;


:root {
  --inter-font: 'Inter', sans-serif;
  --foreground-rgb: 20, 0, 50;
  --background-light-start-rgb: 255, 255, 255;
  --background-light-end-rgb: 255, 255, 255;
  --background-dark-start-rgb: 0, 0, 0;
  --background-dark-end-rgb: 0, 0, 0;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
  }
}


/* Light mode gradient background */
body {
background-color: #ffffff;
color: #000000;
color: rgb(var(--foreground-rgb)); 

gradienttext{
  width:200px;
  background-image: linear-gradient(to right, rgb(255, 81, 148),rgba(255, 255, 255, 0.95));
}
animation: fadeInAnimation ease 3s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}
@keyframes fadeInAnimation {
  0% {
      opacity: 0;
  }
  100% {
      opacity: 1;
  }
  
}

  
  

@media (prefers-color-scheme: dark) {
  /* Dark mode gradient background */
  body {
    background-image: linear-gradient(
      to bottom right,
      rgb(var(--background-dark-start-rgb)),
      rgb(var(--background-dark-end-rgb))
    );
    color: rgb(var(--foreground-rgb));
    
    .gradienttextblack{
      width:200px;
      background-image: linear-gradient(to right, rgb(255, 0, 98),rgba(0, 0, 0, 0.95));
    }
  }

 
  
}

.textshadow{
  color: #fff;
-webkit-box-reflect: below;
  text-shadow: 2px 8px  8px #cccccc;
  background-clip: text;
  color: transparent; 
}


/* google fonts */
.zeyada-font {
  font-family: var(--zeyada-font);
}
.comic-font {
  font-family: var(--comic-font);
}
.pompiere-font {
  font-family: var(--pompiere-font);
}
.roboto-font {
  font-family: var(--roboto-font);
}
.inter-font{
  font-family: var(--inter-font);
}
.sacramento-font{
  font-family: var(--sacramento-font);
}


@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

/* arrow bounce */
.bounce {
  animation: bounce 2s infinite;
}
@keyframes bounce {
  0%, 20%, 50%, 80%, 100% {
    transform: translateY(0);
  }
  40% {
    transform: translateY(5px);
  }
  60% {
    transform: translateY(5px);
  }
}
/* gradient text for subheadings */
.gradienttext{
  width:200px;
  background-image: linear-gradient(to right, rgb(255, 0, 98), rgba(87, 0, 36, 0.95));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  /* background-image: linear-gradient(to right, rgb(255, 3, 133),rgba(255, 255, 255, 0.95)); */
}

.gradienttextblack{
  width:200px;
  background-image: linear-gradient(to right, rgb(255, 0, 98),rgba(0, 0, 0, 0.95));
}
/* box shadow for the services  */
.boxshadow{

  &:hover {

    border: 1px solid;
    box-shadow: 5px 10px;

  }
  
}
/* scrollling tools */
::-webkit-scrollbar {
  height: 10px;
}

::-webkit-scrollbar-thumb {
  background: #161616; 
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: #555; 
}


 .navbar {
  border-bottom: 1px solid #BBBBBB;
} 

.nav-link {
  padding: 15px 0px;
  display: inline-block;
  position: relative;


  /* opacity: 0.75; */
}

.nav-link:hover {
  opacity: 1;
} 

.nav-link::before {
  transition: 300ms;
  height: 5px;
  content: "";
  position: absolute;
  background-color: #de174c;
}

.nav-link-ltr::before {
  width: 0%;
  bottom: 10px;
}

.nav-link-ltr:hover::before {
  width: 100%;
}

@keyframes slideInLeft {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(0);
  }
}

#section2 {
  animation: 1s ease-out 0s 1 slideInLeft;
  
}