@tailwind base;
@tailwind components;
@tailwind utilities;


:root {
  --inter-font: 'Inter', sans-serif;
  --foreground-rgb: 20, 0, 50;
  --background-light-start-rgb: 255, 255, 255;
  --background-light-end-rgb: 255, 255, 255;
  --background-dark-start-rgb: 0, 0, 0;
  --background-dark-end-rgb: 0, 0, 0;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
  }
}


/* Light mode gradient background */
body {

  background-image: linear-gradient(
    to bottom right,
    rgb(var(--background-light-start-rgb)),
    rgb(var(--background-light-end-rgb))
  );
  color: rgb(var(--foreground-rgb));
  
}

@media (prefers-color-scheme: dark) {
  /* Dark mode gradient background */
  body {
    background-image: linear-gradient(
      to bottom right,
      rgb(var(--background-dark-start-rgb)),
      rgb(var(--background-dark-end-rgb))
    );
    color: rgb(var(--foreground-rgb));
  }

  .inter-font{
    font-family: var(--inter-font);
  }
  
}

.textshadow{
  color: #fff;
-webkit-box-reflect: below;
  text-shadow: 2px 8px  8px #cccccc;
  background-clip: text;
  color: transparent; 
}


/* google fonts */
.zeyada-font {
  font-family: var(--zeyada-font);
}
.comic-font {
  font-family: var(--comic-font);
}
.pompiere-font {
  font-family: var(--pompiere-font);
}
.roboto-font {
  font-family: var(--roboto-font);
}
.inter-font{
  font-family: var(--inter-font);
}
.sacramento-font{
  font-family: var(--sacramento-font);
}


@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

/* arrow bounce */
.bounce {
  animation: bounce 2s infinite;
}
@keyframes bounce {
  0%, 20%, 50%, 80%, 100% {
    transform: translateY(0);
  }
  40% {
    transform: translateY(5px);
  }
  60% {
    transform: translateY(5px);
  }
}
/* gradient text for subheadings */
.gradienttext{
  width:200px;
  background-image: linear-gradient(to right, rgb(255, 81, 148),rgba(255, 255, 255, 0.95));
}
.gradienttextblack{
  width:200px;
  background-image: linear-gradient(to right, rgb(255, 0, 98),rgba(0, 0, 0, 0.95));
}

/* box shadow for the services  */
.boxshadow{
  background-color: black;

  &:hover {

    border: 1px solid;
    box-shadow: 5px 10px;

  

  }
  
}
/* scrollling tools */
::-webkit-scrollbar {
  height: 10px;
}

::-webkit-scrollbar-thumb {
  background: #161616; 
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: #555; 
}


/* nav bg */



/* @media only screen and (min-width: 768px) {
  .navbg{
    background-color: rgb(245, 240, 250, 0.7)
  }
}
@media only screen and (max-width: 600px) {
.smallnav{
  font-size: 12px;
  background-color: #BBBBBB;
  padding:2px 10px;
  border-radius: 4px;
  color: black;
  
  &:hover{
    background-color: rgba(166, 41, 70, 0.7)
  }
}
} */


/* rainbow button effect */
/* .rainbow{
  display: flex;
  position: relative;
  place-items: center;
  justify-content: center;
  background: #8a131300;
  border: 3px solid #ffffff;
  width: 12rem;
  color: #fff;
  font-weight: 700;
  border-radius: 10px;
  cursor: pointer;
  overflow: hidden;
  padding: 9px 10px;
  transition: all 0.3s ease-out;
  font-size: 0.9rem;
  
  &::before {
    position: absolute;
    content: "";
    inset: 0px;
    background: #fff;
    rotate: 10deg;
    translate: -150% 0px;
    scale: 2;
    transform-origin: top center;
    z-index: -1;
    transition: all 0.3s ease-out;
  }
  
  &:hover {
    color: rgb(244, 63, 94);
    font-size: 0.8rem;
    &::before {
    translate: 50% 0px;
    
    }
  }
  
}



.follow{
  margin-top: 40px;
}

.follow a{
  color: black;
  padding: 8px 16px;
  text-decoration: none;
} */

 .navbar {
  border-bottom: 1px solid #BBBBBB;
} 

.nav-link {
  padding: 15px 0px;
  display: inline-block;
  position: relative;


  /* opacity: 0.75; */
}

.nav-link:hover {
  opacity: 1;
} 

.nav-link::before {
  transition: 300ms;
  height: 5px;
  content: "";
  position: absolute;
  background-color: #de174c;
}

.nav-link-ltr::before {
  width: 0%;
  bottom: 10px;
}

.nav-link-ltr:hover::before {
  width: 100%;
}

